@import './normalize.scss';

nav {
  max-width: 1240px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  align-items: center;

  p {
    font-size: 32px;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  li {
    margin: 0 0 0 20px;
  }

  .new {
    margin: 0 0 0 auto;
    display: block;
  }
}

main {
  min-height: 400px;
  max-width: 1240px;
  margin: 0 auto;
  padding: 20px;
}

footer {
  max-width: 1240px;
  margin: 0 auto;
  padding: 20px;
}

.posts {
  list-style: none;
  padding: 0;
  margin: 0;
}

.post {
  display: block;
  margin: 0 0 20px 0;
  width: 100%;
  padding: 12px;
  background: #eee;
  position: relative;

  .link {
    width: 100%;
    display: flex;
  }

  .tag {
    margin: 0 0 0 12px;
    color: white;
    background: #222;
    padding: 0 4px;
  }

  .github-star {
    background: #d14;
    color: white;
    border-radius: 4px;
    padding: 8px 0;
    width: 150px;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
  }
}
