@import './normalize.scss';

$main-background: #022830;
$post-background: #021c22;
$post-border: rgba(179, 210, 209, 0.3);
$post-vote: #b3d2d1;
$github-link: #78ffee;
$white: #fff;

body {
  font-family: 'Lato', sans-serif;
}

html, body {
  background-color: $main-background;
}

nav {
  max-width: 1240px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  align-items: center;

  p {
    font-size: 32px;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  li {
    margin: 0 0 0 20px;
  }

  .new {
    margin: 0 0 0 auto;
    display: block;
  }
}

main {
  min-height: 400px;
  max-width: 1240px;
  margin: 0 auto;
  padding: 20px;
}

footer {
  max-width: 1240px;
  margin: 0 auto;
  padding: 20px;
}

.posts {
  list-style: none;
  padding: 0;
  margin: 0;
}

.post {
  border: 1px solid $post-border;
  border-radius: 4px;
  display: block;
  width: 100%;
  background: $post-background;
  position: relative;

  .vote {
    position: absolute;
    color: $post-vote;
    top: 24px;
    left: 40px;

    button {
      background: transparent;
      border: 0;
      color: inherit;
      cursor: pointer;
      margin: 0;
      padding: 0;
    }
  }

  .link {
    display: block;
    padding: 28px 0 28px 116px;
    width: 100%;
  }

  .name {
    color: $white;
    font-size: 24px;
  }

  .tags {
    height: 24px;
  }

  .github {
    position: absolute;
    top: 24px;
    right: 40px;

    p,
    a {
      font-size: 12px;
    }

    p {
      color: $white;
    }

    a {
      color: $github-link;
    }
  }
}
