html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
}

h1,
h2,
h3,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

nav {
  max-width: 1240px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  align-items: center;
}

nav p {
  font-size: 32px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin: 0 0 0 20px;
}

nav .new {
  margin: 0 0 0 auto;
  display: block;
}

main {
  min-height: 400px;
  max-width: 1240px;
  margin: 0 auto;
  padding: 20px;
}

footer {
  max-width: 1240px;
  margin: 0 auto;
  padding: 20px;
}

.posts {
  list-style: none;
  padding: 0;
  margin: 0;
}

.post {
  display: block;
  margin: 0 0 20px 0;
  width: 100%;
  padding: 12px;
  background: #eee;
  position: relative;
}

.post .link {
  width: 100%;
  display: flex;
}

.post .tag {
  margin: 0 0 0 12px;
  color: white;
  background: #222;
  padding: 0 4px;
}

.post .github-star {
  background: #444;
  color: white;
  border-radius: 4px;
  padding: 8px 0;
  width: 150px;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
}
